<nav class="navbar navbar-dark bg-black mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">CRUD NodeJS & MongoDB</a>
    <a class="navbar-brand" href="/about">About</a>
  </div>
</nav>